<div class="container">
  <div id="myNav" class="overlay">
    <div class="overlay-content">
      <a style="text-align:center">
        <h1>Hoenn Pokedex Comming Soon...</h1>
      </a>
      <a href="/kanto">View Kanto Pokedex</a>
    </div>

  </div>
</div>
