<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Mini Pokedex</h3>
  </div>
  <ul class="list-unstyled components">
    <li class="active">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Region</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/kanto"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span>
            Kanto
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/johto"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span>
            Johto
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/hoenn"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span>
            Hoenn
          </a>
        </li>
      </ul>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/viewmoveset"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-education'></span> View Moves List
      </a>
    </li>
    <!-- <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/pokemonmoveset"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-th-list'></span> Pokemon Moveset
      </a>
    </li> -->
  </ul>
  <ul class="list-unstyled components">
    <li [routerLinkActive]='["link-active"]'>
      <a href="#dataEntrySubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">DataEntry</a>
      <ul class="collapse list-unstyled" id="dataEntrySubMenu">
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/dataentry/pokemon"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span>
            Pokemon
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/dataentry/moveset"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span>
            MoveSet
          </a>
        </li>

        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/dataentry/pokemonmoveset"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span>
            Pokemon Moves
          </a>
        </li>

      </ul>
    </li>
  </ul>

</nav>
