<div class="col-sm-10">
  <h1>Move Set List</h1>
  <hr>
</div>


<div class="row col-sm-10">
  <table class="table responsive">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Move Name</th>
        <th scope="col">Damage</th>
        <th scope="col">Damage Per Second</th>
        <th scope="col">Type</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of moveSetList; let i=index">
        <ng-container *ngIf="i < 20">
          <th scope="row">{{i+1}}</th>
          <td><span><img src="assets/images/{{item.elementTypeId}}.png" style="height:30px;width:30px"></span>
            {{item.moveName}}</td>
          <td>{{item.damage}}</td>
          <td>{{item.damagePerSecond}}</td>
          <td *ngIf="item.moveType == 1">Quick</td>
          <td *ngIf="item.moveType == 2">Charge</td>

        </ng-container>

      </tr>
    </tbody>
  </table>
</div>
