<div class="col-sm-10">
  <h2>New MoveSet Entry</h2>
  <hr>
</div>


<form #form="ngForm" (submit)="form.valid && onSubmit(form.value)">
  <div class="row col-sm-10">
    <div class="form-group col-sm-2">
      <label for="moveName">Move Name</label>
      <input type="text" class="form-control" name="moveName" ngModel placeholder="Move Name" required>
    </div>
    <div class="form-group col-sm-2">
      <label for="damage">Damage</label>
      <input type="number" class="form-control col-sm-12" name="damage" ngModel required placeholder="Damage">
    </div>
    <div class="form-group col-sm-2">
      <label for="damagePerSecond">DPS</label>
      <input type="number" class="form-control" name="damagePerSecond" ngModel required placeholder="DPS">
    </div>
    <div class="form-group col-sm-2">
      <label for="elementTypeId">Element</label>
      <select class="form-control" name="elementTypeId" ngModel required>
        <option value="">Primary..</option>
        <option *ngFor="let item of elementList" value="{{item.id}}">{{item.elementName}}</option>
      </select>
    </div>
    <div class="form-group col-sm-2">
      <label for="moveType">Type</label>
      <select class="form-control" name="moveType" ngModel required>
        <option value="1">Charge</option>
        <option value="2">Quick</option>
      </select>

    </div>
    <button type="submit" class="btn btn-primary" style="height:40px;margin-top:30px">Submit</button>
  </div>
</form>

<div class="col-sm-10">
  <hr>
</div>

<div *ngFor="let item of moveSetList">

  <p [ngStyle]="{'background-color': setcolor(item.elementTypeId)}">
    Move Name: {{item.moveName}}
    DPS: {{item.damagePerSecond}}
    Damage: {{item.damage}}
    <ng-container *ngIf="item.moveType == 1; else elseTemplate">
      Element Type: Charge
    </ng-container>
    <ng-template #elseTemplate>
      Element Type: Quick
    </ng-template>

  </p>

</div>
