<div class="container" style="margin-top:150px">
  <div class="row">
    <a href="/kanto" class="intro-banner-vdo-play-btn pinkBg" target="_self">
      <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
      <span class="ripple pinkBg"></span>
      <span class="ripple pinkBg"></span>
      <span class="ripple pinkBg"></span>
    </a>
  </div>
</div>

<div class="container-fluid">
    <h1 style="text-align:center">Welcome to Mini Pokedex</h1>
</div>