<h2>{{region}} Region</h2>


<div class="input-group mb-3">
  <input type="text" class="form-control col-sm-10" placeholder="Recipient's username" aria-label="Search Pokemon"
    disabled>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" disabled>Search</button>
  </div>
</div>
<div class="col-sm-10">
  <div class="row">
    <div class="col-sm-4" *ngFor="let item of pokemonListResponse">
      <div class="card mb-3">
        <img class="card-img-top mons-image" src="{{item.assetsLink}}" alt="Bulbasaur">
        <div class="card-body">
          <span class="badge" [ngStyle]="{'background-color':findColorP(item.elementPrimary)}">{{ pElem }}</span>&nbsp;
          <span class="badge" *ngIf="item.elementSecondary != null" [ngStyle]="{'background-color': findColorS(item.elementSecondary)}">{{
            sElem }}</span>
          <h3 class="card-title">#{{item.pokemonId}} {{item.pokemonName}}</h3>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalForDetail" (click)="sendDataToModal(item)">View
            Detail</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalForDetail" tabindex="-1" role="dialog" aria-labelledby="detailModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailModal">{{pokemon.pokemonName}}</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center">
        <img src="{{pokemon.assetsLink}}" alt="poster" class="col-sm-10 modal-sm">
        <table class="table table-dark responsive">
          <tr>
            <td>Evolution </td>
            <td class="modal-col">Total Evolution : {{pokemonDetail.totalEvolution}}<br>
              Evolution Stage : {{pokemonDetail.evolutionStage}}
            </td>
          </tr>
          <tr>
            <td>Buddy Distance</td>
            <td class="modal-col">{{pokemonDetail.buddyDistance}}</td>
          </tr>
          <tr>
            <td>Egg Group</td>
            <td class="modal-col">{{pokemonDetail.eggGroup}} KM</td>
          </tr>
          <tr>
            <td>Info</td>
            <td class="modal-col">{{pokemonDetail.info}}</td>
          </tr>
          <tr>
            <td>Family</td>
            <td class="modal-col">{{pokemonDetail.family}}</td>
          </tr>
          <tr>
            <td>Obtainable?</td>
            <ng-container *ngIf="pokemonDetail.obtainability == 1; else elseTemplate">
              <td class="modal-col">Yes</td>
            </ng-container>
            <ng-template #elseTemplate>
              <td class="modal-col">Difficult</td>
            </ng-template>
          </tr>
          <tr>
            <td class="modal-col"><strong>Base Stats</strong></td>
            <td class="modal-col">
              Attack : {{pokemonBaseStat.attack}} <br>
              Defence : {{pokemonBaseStat.defence}}<br>
              Stamina : {{pokemonBaseStat.stamina}}<br>
              Weight : {{pokemonBaseStat.weight}} Kg<br>
              Height : {{pokemonBaseStat.height}} m<br>
              Max CP : {{pokemonBaseStat.maxCombatPower}}</td>
          </tr>
          <tr>
            <td>Possible Moves</td>
            <td class="modal-col">
              <span *ngFor="let item of moveNames">{{item}} <br></span>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
