<h2>New Pokemon Entry</h2>
<hr>

<form #form="ngForm" (submit)="form.valid && onSubmit(form.value)">
  <!-- Pokemon -->
  <div class="row col-sm-12">
    <div class="form-group col-sm-2">
      <label for="pokemonId">Pokemon Id</label>
      <input type="number" class="form-control" name="pokemonId" ngModel placeholder="ID" required>
    </div>
    <div class="form-group col-sm-4">
      <label for="pokemonName">Pokemon Name</label>
      <input type="text" class="form-control col-sm-12" name="pokemonName" ngModel placeholder="Pokemon Name" required>
    </div>
    <div class="form-group col-sm-2">
      <label for="generationId">Generation</label>
      <select class="form-control" name="generationId" ngModel required>
        <option value="">Generation..</option>
        <option *ngFor="let item of generationList" value="{{item.id}}">{{item.generationName}}</option>
      </select>
    </div>
    <div class="form-group col-sm-2">
      <label for="elementPrimary">Primary Type</label>
      <select class="form-control" name="elementPrimary" ngModel required>
        <option value="">Primary..</option>
        <option *ngFor="let item of elementList" value="{{item.id}}">{{item.elementName}}</option>
      </select>
    </div>
    <div class="form-group col-sm-2">
      <label for="elementSecondary">Secondary Type</label>
      <select class="form-control" name="elementSecondary" ngModel>
        <option value="">None..</option>
        <option *ngFor="let item of elementList" value="{{item.id}}">{{item.elementName}}</option>
      </select>
    </div>
  </div>
  <fieldset ngModelGroup="pokemonDetail">
    <!-- Discription -->
    <div class="row col-sm-12">
      <div class="form-group col-sm-12">
        <label for="info">Description</label>
        <textarea class="form-control" name="info" ngModel required></textarea>
      </div>
    </div>
    <!-- Details -->
    <div class="row col-sm-12">
      <div class="form-group col-sm-2">
        <label for="totalEvolution">Total Evolution</label>
        <input type="number" class="form-control" name="totalEvolution" ngModel required placeholder="Total">
      </div>
      <div class="form-group col-sm-2">
        <label for="buddyDistance">Buddy Distance</label>
        <input type="number" class="form-control" name="buddyDistance" ngModel required placeholder="Total">
      </div>
      <div class="form-group col-sm-2">
        <label for="eggGroup">Egg Group</label>
        <select class="form-control" name="eggGroup" ngModel required>
          <option value="">NA</option>
          <option value="2">2KM</option>
          <option value="5">5Km</option>
          <option value="7">7Km</option>
          <option value="10">10Km</option>
        </select>
      </div>
      <div class="form-group col-sm-2">
        <label for="obtainability">Obtainability</label>
        <select class="form-control" name="obtainability" ngModel required>
          <option value="Obtainable">Obtainable</option>
          <option value="UnObtainable">UnObtainable</option>
        </select>
      </div>

      <div class="form-group col-sm-2">
        <label for="family">Family</label>
        <input type="text" class="form-control" name="family" ngModel placeholder="Family">
      </div>
      <div class="form-group col-sm-2">
        <label for="evolutionStage">Evolution Stage</label>
        <input type="number" min="0" class="form-control" name="evolutionStage" ngModel required placeholder="Evolution Stage">
      </div>
    </div>
    <fieldset ngModelGroup="baseStats">
      <div class="row col-sm-12">
        <div class="form-group col-sm-2">
          <label for="attack">Attack</label>
          <input type="number" min="0" class="form-control" name="attack" ngModel placeholder="Attack">
        </div>
        <div class="form-group col-sm-2">
          <label for="stamina">Stamina</label>
          <input type="number" min="0" class="form-control" name="stamina" ngModel placeholder="Stamina">
        </div>
        <div class="form-group col-sm-2">
          <label for="defence">Defence</label>
          <input type="number" min="0" class="form-control" name="defence" ngModel placeholder="Defence">
        </div>
        <div class="form-group col-sm-2">
          <label for="maxCombatPower">Max CP</label>
          <input type="number" min="0" class="form-control" name="maxCombatPower" ngModel placeholder="Max CP">
        </div>
        <div class="form-group col-sm-2">
          <label for="height">Height</label>
          <input type="number" min="0" class="form-control" name="height" ngModel placeholder="Height">
        </div>
        <div class="form-group col-sm-2">
          <label for="weight">Weight</label>
          <input type="number" min="0" class="form-control" name="weight" ngModel placeholder="Weight">
        </div>
      </div>
    </fieldset>
  </fieldset>

  <!--  -->
  <div class="row col-sm-12">
    <div class="form-group col-sm-2">
      <input type="hidden" value="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/002.png" class="form-control"
        name="assetsLink" ngModel>
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
