<h2>Map Moves to Pokemon</h2>
<hr>

<form #form="ngForm" (submit)="form.valid && onSubmit(form.value)">
    <div class="form-group col-sm-10">
        <label for="pokemonId">Pokemon List</label>
        <select class="form-control" name="pokemonId" ngModel required>
          <option *ngFor="let item of pokemonList" value="{{item.id}}">{{item.pokemonName}}</option>
        </select>
      </div>

      <div class="form-group col-sm-10">
          <label for="moveSetId">Possible Moveset of Pokemon</label>
          <select class="form-control" name="moveSetId" ngModel required>
            <option *ngFor="let item of moveSetList" value="{{item.id}}">{{item.moveName}}</option>
          </select>
        </div>

  <!-- <div class="form-group col-sm-10">
    <label for="moveList">Select Moves The Pokemon Can Learn</label>
    <select multiple class="form-control" name="moveListId" ngModel required>
      <option *ngFor="let item of moveSetList" value="{{item.id}}">{{item.moveName}}</option>
    </select>
  </div> -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
